---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Hey there, I'm Sydney"
	description="Sydney Estes"
	pubDate={new Date('August 08 2021')}
	heroImage="/IMG_0121.JPG"
>
	<p>
		I have a passion for design, specifically designing for user interfaces, visual design and prototyping.
		I love learning new skills and things about the UX field and I am a learner for life. My love for design
		comes from my past as an aspiring photographer. By starting out taking photos of people, architecture, and
		landscapes, I discovered that I wanted to continue creating art, just not in the form of photography. I came
		across UX in college and ever since I changed my major from political science to experience architecture my
		sophomore year, I have loved every second of learning and applying my skills to projects and everyday products.
	</p>

	<p>
		I received my Bachelor of Arts in Experience Architecture at Michigan State University in 2022.
		I love surrounding myself with creativity and I apply my photography and videography skills to my
		user experience design work.
	</p>

	<p>
		On the side, you can find me watching period dramas, playing the piano, buying cookbooks, or trying to
		beat Hogwarts Legacy. You may also know me as a Spartan Marching Band cymbal alum, a photographer, or an
		Irish dancer.
	</p>

	<p>
		I am currently looking for full time UX & UI designer positions.
	</p>

	<p>
		Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus imperdiet. Id porta
		nibh venenatis cras sed felis eget velit. Ipsum a arcu cursus vitae. Facilisis magna etiam
		tempor orci eu lobortis elementum. Tincidunt dui ut ornare lectus sit. Quisque non tellus orci
		ac. Blandit libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed pulvinar
		proin gravida. Egestas integer eget aliquet nibh praesent tristique magna.
	</p>
</Layout>
