---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_IMAGE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} image={SITE_IMAGE} description={SITE_DESCRIPTION} />
	</head>
		<Header />
		<main>
			<h2>Hi, I'm Sydney 👋🏻</h2>
			<p>
				With a background in user interface design, user experience design, visual design,
				and user research, I create products that are unique, accessible and exciting.
			</p>

<ul class="row">
	<li class="project1>
		<a href="#"><img width="720" height="360" src="catchlocked.png"></a>
		<h4>Catch Native Mobile App</h4>
		<h5>Business Services</h5>
		<p>A new interactive tool that makes it easy to schedule rides, add or remove riders, and split payments</p>
	</li>

	<li class="project2>
		<a href="#"><img width="720" height="360" src="catchlocked.png"></a>
		<h4>Catch Native Mobile App</h4>
		<h5>Business Services</h5>
		<p>A new interactive tool that makes it easy to schedule rides, add or remove riders, and split payments</p>
	</li>

	<li class="project3>
		<a href="#"><img width="720" height="360" src="catchlocked.png"></a>
		<h4>Catch Native Mobile App</h4>
		<h5>Business Services</h5>
		<p>A new interactive tool that makes it easy to schedule rides, add or remove riders, and split payments</p>
	</li>

	<li class="project4>
		<a href="#"><img width="720" height="360" src="catchlocked.png"></a>
		<h4>Catch Native Mobile App</h4>
		<h5>Business Services</h5>
		<p>A new interactive tool that makes it easy to schedule rides, add or remove riders, and split payments</p>
	</li>
</ul>

<!--
	<div class="row">

		<div class="column1">
			<div class="project-image">
			<img src="catchlocked.png" />
			</div>
		<div class="project-title"><h4>Catch Native Mobile App</h4></div>
		<h5>Business Services</h5>
		<p>A new interactive tool that makes it easy to schedule rides, add or remove riders, and split payments</p>
		</div>

		<div class="column2">
			<div class="project-image">
			<img src="nantucketmobile.png" />
			</div>
		<div class="project-title"><h4>Nantucket Native Mobile App</h4></div>
		<h5>Food Service</h5>
		<p>A consumer-facing tool for users to order online for pickup or delivery</p>
		</div>

		<div class="column3">
			<div class="project-image">
			<img src="artprizelocked.png" />
			</div>
		<div class="project-title"><h4>ArtPrize Responsive Online Portal</h4></div>
		<h5>Business Services</h5>
		<p>A tool for Artists and Venues to sign up for the 2024 ArtPrize event and connect with other users</p>
		</div>

		<div class="column4">
			<div class="project-image">
			<img src="nantucketwebsite.png" />
			</div>
		<div class="project-title"><h4>Nantucket Responsive Website</h4></div>
		<h5>Food Service</h5>
		<p>A consumer-facing tool for users to order online for pickup or delivery</p>
		</div>

	</div>


	<div class="row">
		<div class="column1">
			<img src="/blog-placeholder-1.jpg" />
		</div>
		<div class="column2">
			<h3>Project 1</h3>
		</div>
	</div>
-->

		<!-- hidden	
			<p>
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		-->
		</main>
		<Footer />
</html>
